<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="aa">123123</div>
    <div id="bb">2133</div>
    <div><%= htmlWebpackPlugin.options.data.testData %></div>
    <%= require('@/components/test.ejs')({ss: 123}) %>
</body>
</html>